bibtexparser<=1.4.0 # up to date on 01-2023
psutil<=5.9.4 # # up to date on 01-2023
configparser<=5.3.0 # # up to date on 01-2023
matplotlib==3.3.4; python_version == '3.6'
matplotlib==3.5.3; python_version == '3.7'
matplotlib==3.6.3; python_version >= '3.8' # up to date on 01-2023
pillow==8.4.0; python_version == '3.6'
pillow==9.4.0; python_version >= '3.7' # up to date on 01-2023
numpy<=1.24.1 # up to date on 01-2023. Careful. Xmipp is compiled agains numpy!
requests<=2.28.2 # up to date on 01-2023
mpi4py<=3.1.4 # up to date on 01-2023
git+https://github.com/scipion-em/tkColorPicker#egg=tkcolorpicker # updated 01-2023
