bibtexparser<=1.4.1 # up to date on 11-2023
psutil<=5.9.6 # # up to date on 11-2023
configparser==6.0.0; python_version >= '3.8' # up to date on 11-2023
matplotlib==3.7.3; python_version == '3.8'
matplotlib==3.8.1; python_version >= '3.9' # up to date on 11-2023
pillow==10.1.0; python_version >= '3.8' # up to date on 11-2023
numpy==1.24.4; python_version == '3.8'
numpy==1.26.1; python_version >= '3.9' # up to date on 11-2023. Careful. Xmipp is compiled against numpy!
requests==2.31.0; python_version >= '3.8' # up to date on 11-2023
git+https://github.com/scipion-em/tkColorPicker#egg=tkcolorpicker # updated 01-2023
distro<=1.8 # up to date on 11-2023
importlib-metadata<=6.8.0 # up to date on 11-2023